.horizontal-row-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    
    border-radius: 8px;
  }
  
  .text-container {
    flex: 1;
    padding: 0 20px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  